<div class="my-banner">
    <div class="my-banner-wrapper" style="text-align: justify; ">
    <h1 style="font-size: 2rem; line-height: normal;">Right to Life of Article 21  Embraces Precarious Health Condition of an Undertrial </h1>
    <br>
    <p>The detenu, Sidhique Kappan is a journalist and his associates were arrested by U.P Police on 05.10.2020 at 16:50 hrs, while going to Hathras (U.P.) to report gruesome case of rape and murder of a young girl. 
    </p>
    <br />
    <p> In the Habeas Corpus Writ Petition filed by the KERALA UNION OF WORKING JOURNALISTS had prayed that the detenu and his associates were taken to illegal custody on 05.10.2020 ar 16:50 hrs without serving any notice or order as envisaged under section 107 of CrPC by U.P. Police. </p><br />
    <p>The State of U.P files the counter affidavit and supplementary affidavit states that the alleged detenu has been lawfully arrested under Section 107/151 Cr.P.C. and thereafter Police Station Manth District Mathura has registered the FIR No. 199/2020 dated 07.10.2020 under Sections 153A, 295A and 124A of the Indian Penal Code, Section 17, 14 of Unlawful Activity prevention Act, 1967 and Sections 65, 72, 76 of Information Technology Act, 2008.</p><br />
    <p>Based the direction issued by the Supreme Court, the State of U.P. has submitted Medical Reports of the detenu. Further the report reveals that the detenu is having multiple health issues like diabetes, heart ailment, blood pressure, and bodily injury.   </p>

    <br>
    <p>Accordingly, the  Supreme Court states that it is not called to examine detailed facts on merits.  The alleged detenu has got alternative remedies including the right to approach the competent
      court for the grant of bail and/or the High Court under Article 226 of the Constitution of India and/or
      under Section 482 Cr.P.C for
      redressal of his grievances. Still further, it may also be relevant to
      note that the co-accused of the alleged detenu have already adopted such a recourse and sought their bail before the Competent Court.</p>
      <br>
      <p>The Learned Solicitor General Tushar Mehta has empassized that adequate medical treatment is being provided as in the case of all other jail inmates and if need be further facility shall be extended to the detenu. </p>
      <br>
      <p>The Apex court commeted that by considering the peculiar facts and circumstances of this case, the Right to life of Article 21 unconditionally embraces even an undertial. </p>
      <br>
      <p>Further Supreme Court states that merely because the other jail inmates are receiving treatment similar to the arrestee/detenu need not deter us.</p>
      <br>
      <p>
        The Supreme Court held that owing to the apparent
precarious health condition of the arrestee, it is necessary to provide adequate and effective medical assistance to him and to allay all apprehension relating to his health, it would be in the interest of justice to shift Sidhique Kappan either to Ram Manohar Lohia Hospital – the arrestee, or to All India Institute of Medical Sciences (AIIMS) or any other Government Hospital in Delhi for the proper medical treatment. The needful shall in this regard be done at the earliest.
      </p> 
<br>
<hr class="dashed">
<br>
      <h1 style="font-size: 2rem; line-height: normal; ">The Supreme Court Refuses To Stay Investigation Against BJP Leader Kailash Vijayvargiya & 2 Others in Rape Case pointing out that the Supreme Court's ruling in Neeharika Infrastructure Pvt. Ltd v. State of Maharashtra does not permit such a stay order to be issued but Extends Interim Protection</h1>
    
    <a href="#" class="my-banner-button" style="display: none;" >Read More</a>
  </div>
</div>